@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Light.eot');
    src: url('fonts/HelveticaNeueCyr-Light.eot') format('embedded-opentype'), url('fonts/HelveticaNeueCyr-Light.woff2') format('woff2'), url('fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 0;
}

.container {
    max-width: 965px;
    margin: 0 auto;
}

.red {
    color: #ed1a23;
}


/* header */

.header {
    background-image: url(img/gradient.png);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.header__user {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header__user-icons {
    margin-right: 135px;
}

.header__user-icons-star {
    margin-right: 20px;
}

.header__user-name {
    position: relative;
    padding-right: 26px;
    margin-right: 20px;
}

.header__user-name::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0px;
    width: 15px;
    height: 159px;
    background-image: url(img/user.png);
    background-repeat: no-repeat;
}

.header__user-name-link {
    color: #ffffff;
    font-size: 13px;
    line-height: 15px;
}

.header__main {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding-top: 20px;
}

.header__main-logo {
    margin-left: 25px;
    margin-bottom: 2px;
}

.header__main-info {
    display: flex;
    margin-right: 35px;
}

.header__main-info-item {
    position: relative;
    margin-right: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 13px;
    line-height: 5px;
}

.header__main-info-item:nth-child(3) {
    line-height: 15px;
    margin-right: 0;
    padding-left: 40px;
}

.header__main-info-item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 30px;
    background-image: url(img/tel.png);
    background-repeat: no-repeat;
}

.header__main-info-item:first-child::before {
    background-image: url(img/gps.png);
    top: 10px;
}

.header__main-info-item:last-child::before {
    background-image: url(img/cart.png);
    width: 33px;
    top: 10px;
}

.header__main-info-item:first-child::after,
.header__main-info-item:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2px;
    height: 50px;
    background-image: url(img/line-grey.png);
    background-repeat: no-repeat;
}

.header__main-info-item:nth-child(2)::after {
    top: -10px;
}

.header__main-info-item-tel {
    margin-top: 10px;
}

.header__main-info-item-tel-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.header__main-info-item-text {
    margin-top: 5px;
}


/* main */

.main {
    background-image: url(img/bg-laminat.png);
    margin-top: -27px;
}

.container-bg {
    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


/* nav */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigation__catalog {
    position: relative;
    margin: 0;
    margin-left: 30px;
    font-size: 14px;
    font-weight: bolder;
    padding-right: 90px;
}

.navigation__catalog::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-image: url(img/arrow-down.png);
    background-repeat: no-repeat;
}

.navigation__search {
    position: relative;
}

.navigation__search-input {
    width: 320px;
    background-color: #fafafa;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    height: 25px;
    padding-left: 15px;
}

.navigation__search-input-btn {
    position: absolute;
    top: 2px;
    right: 5px;
    background-image: url(img/loupe.png);
    background-color: #fafafa;
    background-repeat: no-repeat;
    width: 21px;
    height: 18px;
    border: none;
}

.navigation__menu {
    display: flex;
    list-style: none;
    margin: 0;
    margin-right: 5px;
}

.navigation__menu-item {
    position: relative;
    margin-right: 25px;
}

.navigation__menu-item:last-child::after {
    content: "";
    position: absolute;
    top: 26px;
    left: -6px;
    width: 95px;
    height: 4px;
    background-image: url(img/line.png);
    background-repeat: no-repeat;
}

.navigation__menu-item-link {
    text-decoration: none;
    font-size: 11px;
    line-height: 22.91px;
    color: #000000;
}